{% extends 'register/base.html' %}
{% load static %}
{% block main %}
<body>
    <img src="{% static 'register/img/abstract bg.png' %}" class="bg-img" alt="">
    
    <header class="adolf-logo"> 
        <img src="{% static 'register/img/adolf7-automotive-industries-pvt-ltd-logo.png' %}"  alt="Adolf7-Automotive-Industries-Pvt.-Ltd.-Logo" >
    </header>
    
    <section class="wrapper">
        <div class="container">
            <div class=" text-center form-wrapper">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                        {% else %}
                            <div class="alert alert-{{ message.tags }}" role="alert">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <form method="POST" class="bg-white p-5 login-form ">
                    {% csrf_token %}
                    <h3 class="text-dark fw-bolder fs-4 mb-2 ">Login</h3>
                    <div>
                        <label for="id_phNum">Phone Number: </label>
                        <input type="tel" name="phone_number" id="id_phNum">
                    </div>
                    <br>
                    <div>
                        <label for="id_password">Password: </label>
                        <input type="password" name="password" id="id_password" required>
                    </div>

                    <button type="submit" class="btn btn-primary submit-btn w-100 my-4 text-uppercase fw-bold">Continue</button>
                </form>
            </div>
        </div>
    </section>
{% endblock main %}

