{% extends 'dashboard/base.html' %}
{% load static %}

{% block pfp %}
<img src="{{ user.adolfadmin.photo.url }}" alt="pfp" class="rounded-circle">
{% endblock pfp %}

{% block profile %}
<a class="dropdown-item" href="{% url 'admin-update' request.user.adolfadmin.pk %}">Profile</a>
{% endblock profile %}


{% block content %}
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div> 
                <a href="{% url 'dashboard-admin' %}" class="nav_logo"> 
                    <!-- <img src="img/adolf7-automotive-industries-pvt-ltd-only-logo.png" alt=""> -->
                    <i class='bx bx-child nav_icon' ></i>
                    Adolf7
                </a>
                <div class="nav_list"> 
                    <a href="{% url 'dashboard-admin' %}" class="nav_link "> 
                        <i class='bx bx-grid-alt nav_icon'></i> 
                        <span class="nav_name">Dashboard</span> 
                    </a>
                    <a href="{% url 'order-view-admin' %}" class="nav_link active"> 
                        <i class='bx bx-plus nav_icon'></i> 
                        <span class="nav_name">New Order</span> 
                    </a>
                    <a href="#" class="nav_link"> 
                        <i class='bx bx-rupee nav_icon'></i> 
                        <span class="nav_name">Payments</span>
                    </a> 
                    <a href="{% url 'admin-createuser' %}" class="nav_link"> 
                        <i class='bx bx-user-plus'></i>
                        <span class="nav_name">Create User</span>
                    </a> 
                </div>
            </div> 
        </nav>
    </div>

    <div class="d-flex flex-column flex-lg-row">
        <div class="col-12">
            <div class="card top-selling overflow-auto">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title">
                            Price List 
                        </h5>
                        <div class="search d-flex">
                            <div class="profile-dropdown">
                                <a class="nav-link dropdown-toggle text-end w-100" href="#" data-bs-toggle="dropdown"></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6 class="filter-tag text-center">Filters</h6>
                                    </li>
                                    <form action="{% url 'order-view-admin' %}" method="GET" class="d-flex">
                                    <div class="dropdown-things text-start">
                                        <li class="form-check">
                                            <input type="checkbox" name="Vehicle Type" id="checkVehicleType">
                                            <label for="checkVehicleType">Vehicle Type</label>
                                        </li>
                                        <li class="form-check">
                                            <input type="checkbox" name="Color" id="checkColor">
                                            <label for="checkColor">Color</label>
                                        </li>
                                        <li class="form-check">
                                            <input type="checkbox" name="Product Name" id="checkProductName">
                                            <label for="checkProductName">Product Name</label>
                                        </li>
                                        <li class="form-check">
                                            <input type="checkbox" name="UOM" id="checkUom">
                                            <label for="checkUom">UOM</label>
                                        </li>
                                    </div>
                                </ul>
                            </div>
                                <input type="text" name="search-query" placeholder="Search..." required class="form-control searchInput">
                                <button class="searchBtn"><i class='bx bx-search' ></i></button>
                            </form>
                        </div>
                    </div>
                    <table class="table table-borderless ">
                        <thead>
                            <tr class="table-heading">
                                <th scope="col">Product Image</th>
                                <th scope="col">Vehical Type</th>
                                <th scope="col">Color</th>
                                <th scope="col">Product Name</th>
                                <th scope="col">Item Description</th>
                                <th scope="col">uom</th>
                                <th scope="col">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for prices in pricelist_obj %}
                                <tr>
                                    <td>
                                        <img src="{{ prices.product_image.url }}" alt="{{ prices.item_desc }}">
                                    </td>
                                    <td>{{ prices.vehical_type }}</td>
                                    <td>{{ prices.color }}</td>
                                    <td>{{ prices.product_name }}</td>
                                    <td>{{ prices.item_desc }}</td>
                                    <td>{{ prices.uom }}</td>
                                    <td>
                                        <button type="button" class="btn btn-link btn-sm">
                                            <a href="{% url 'pricelist-edit' prices.id %}">Edit</a>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% include 'dashboard/paginator.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}