<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Price List</title>
</head>
<body>
    <h1>Price List</h1>
    <table class="table">
        <thead>
          <tr>
              <th scope="col">Vehical Type</th>
              <th scope="col">color</th>
              <th scope="col">product_name</th>
              <th scope="col">product_image</th>
              <th scope="col">item_desc</th>
              <th scope="col">uom</th>
              <th scope="col">price_bef_gst</th>
              <th scope="col">tax_rate</th>
              <th scope="col">price_bef_gst_pu</th>
              <th scope="col">price_aft_gst_pu</th>
              <th scope="col">unit_per_nos</th>
              <th scope="col">price_pernos_incl_gst</th>
              <th scope="col">mrp_incl_gst_pu</th>
          </tr>
        </thead>
        <tbody>
          {% for prices in pricelist_obj %}
              <tr>
                  <td>{{ prices.vehical_type }}</td>
                  <td>{{ prices.color }}</td>
                  <td>{{ prices.product_name }}</td>
                  <td>{{ prices.product_image }}</td>
                  <td>{{ prices.item_desc }}</td>
                  <td>{{ prices.uom }}</td>
                  <td>{{ prices.price_bef_gst }}</td>
                  <td>{{ prices.tax_rate }}</td>
                  <td>{{ prices.price_bef_gst_pu }}</td>
                  <td>{{ prices.price_aft_gst_pu }}</td>
                  <td>{{ prices.unit_per_nos }}</td>
                  <td>{{ prices.price_pernos_incl_gst }}</td>
                  <td>{{ prices.mrp_incl_gst_pu }}</td>
                   {# <td> #}
                      {# <button type="button" class="btn btn-link btn-sm"> #}
                          {# <a href="{% url 'dashboard-edit' prices.id %}">Edit</a> #}
                      {# </button> #}
                  {# </td> #}
              </tr>
          {% endfor %}
        </tbody>
      </table>
</body>
</html>